.search {
  width: 100%;
  position: relative;

  input[type="text"] {
    width: 100%;
    border: none;
    background: url("../../assets/icon-search.svg") no-repeat scroll 7px 7px,
      #ffffff;
    background-position: 32px center;
    padding-left: 5rem;
    padding-right: 10.25rem;
    height: 69px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    border-radius: 15px;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 25px;
    /* identical to box height, or 139% */
    color: #222731;
    outline: none;
    caret-color: #0079ff;

    @at-root .dark & {
      background: url("../../assets/icon-search.svg") no-repeat scroll 7px 7px,
        #1e2a47;
      background-position: 32px center;
      box-shadow: none;
      color: #ffffff;

      &::placeholder {
        color: #ffffff;
      }
    }

    &::placeholder {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 25px;
      /* identical to box height, or 139% */
      color: #4b6a9b;
    }
  }

  &__right {
    position: absolute;
    right: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;

    &__error {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      color: #f74646;
      margin-right: 24px;
    }

    button {
      background: #0079ff;
      border-radius: 10px;
      padding: 0.8125rem 1.5625rem;
      cursor: pointer;
      border: none;
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */
      color: #ffffff;
      transition: background 0.2s ease-in-out;
      &:hover {
        background: #60abff;
      }
    }
  }
}
